streamlit
numpy
pandas
scikit-learn
joblib
matplotlib
seaborn
pillow
tensorflow-cpu
plotly
openai
langchain
langchain-openai
langchain-community
langchain-chroma
pysqlite3-binary
beautifulsoup4
chromadb
